.collapsible {
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 12pt;
}

.content {
  padding: 0 10px;
  display: none;
  overflow: hidden;
}

.float-left {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  filter: invert(13%) sepia(2%) saturate(30%) hue-rotate(14deg) brightness(99%) contrast(81%);
}
