.leftpanel {
  background-color: #23232A;
}

.leftpanel-container {
  background-color: #23232A;
  min-width: 200px;
  overflow-y: auto;
  overflow-x: auto;
}

.leftpanel-text {
  margin-top: 10px;
  text-align: center;
  color: white;
  font-size: 10pt;
}
