.open-editors-container {
    margin: 0;
    padding: 0;
    /* border-bottom: 1px solid black; */
}

#open-editors {
    margin: 0;
}

.open-editors-content {
    padding: 0 15px;
    display: block;
    overflow: hidden;
    justify-content: center;
    border-bottom: 1px solid black;
}

#open-editors-title {
    margin: 0;
    display: inline-block;
    color: gray;
    font-weight: bolder;
    font-size: 10pt;
}

#open-editors-title:hover {
    cursor: pointer;
}

.open-editors-icon {
    margin: 0;
    display: inline-block;
    filter: invert(66%) sepia(16%) saturate(4%) hue-rotate(314deg) brightness(95%) contrast(94%);
    vertical-align: middle;
}

.open-editors-icon:hover {
    cursor: pointer;
}

#fileName {
    color: white;
    text-align: right;
    vertical-align: middle;
}
