html {
  height: 100%;
  padding: 0cm;
  margin: 0cm;
}

body {
  background-color: #1c1b18;
  padding: 0cm;
  margin: 0cm;
  height: 100%;
}

.horizontal-gutter {
  grid-area: 1 / 2 / 1 / 2;
  cursor: ew-resize;
  background-color: #1c1b18;
  border-left: 1px solid black;
}

#open-folder-button {
  background-color: #333333;
  border: 0px;
  display: block;
  color: white;
  font-size: 10pt;
  margin: 10px auto;
  padding: 4px 40px;
  cursor: pointer;
  border-radius: 10px;
}

#open-folder-button:hover {
  background-color: grey;
}

button:focus {
  outline: 0;
}

.preventSelect {
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

.draggable {
  -webkit-app-region: drag;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1c1b18;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
