#top-panel {
  background-color: #23232A;
  height: 20px;
  width: 100%;
  margin: 0;
  border-bottom: 1px solid black;
  justify-content: center;
  display: flex;
  line-height: 20px;
}

#opened-file-name {
    font-size: 11pt;
    color: white;
    line-height: 20px;
    margin-top: 0;
}


#cursor-notifier {
  text-align: right;
  color: gray;
  float: left;
  margin-top: 0;
  font-size: 8pt;
  font-weight: bold;
  position: absolute;
  top: 0;
  right: 9%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
  "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#listening-notifier-container {
  position: absolute;
  top: 0;
  left: 9%;
}

#listening-notifier-icon {
  margin-top: 5px;
  float: left;
  filter: invert(18%) sepia(76%) saturate(3501%) hue-rotate(350deg) brightness(94%) contrast(94%);
}

#listening-notifier-text {
  color: gray;
  float: left;
  margin-top: 0;
  margin-left: 5px;
  font-size: 8pt;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
  "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  top: 0;
}

#saved-state {
  margin-top: 0;
  font-style: italic;
  color: gray;
  font-size: 8pt;
  font-weight: bolder;
  margin-left: 5px;
  line-height: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
